body{
    height: 100vh;
    display: flex;
    justify-content: center;
}
#divIndex{
    width: 80%;
    margin-top: 50px;
    height: 100vh;
}

#newRecord{
    color: white;
    border: none;
    padding: 10px;
    margin-bottom: 1%;
    margin-top: 3%;
}

#newRecord{
    background-color: blue;
}
#newRecord:hover{
    background-color: #0084ff;
}

table{
    width: 100%;
}
th{
    background-color: #283434;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

th, td{
    border-left: solid 2px white;
    border-right: solid 2px white;
    height: 30px;
}

tr:nth-child(even){
    background-color: #f0ecec;
}
tr:nth-child(odd){
    background-color: #fafafa;
}
tr:hover{
    background-color: #d1cccc;
}

